.background {
  viewport-fill: white;
}

.markercolour {
  fill: white;
}

.accentcolour {
  fill: white;
}

.circlecolour {
  fill: white;
}

#bat-fill {
  y: 7;
  height: 10;
  x:2;
  width: 19;
}

#bat-fill {
  y: 7;
  height: 10;
  x:2;
  width: 19;
}

.icon {
  x: -13;
  y: -50;
  width: 30;
  height: 30;
}

.hourmarker24text {
  x: 0%;
  y: -36%;
  font-family: Seville-Bold;
  font-size: 15;
  text-anchor: middle;
}

.time {
  width: 40;
  height: 60;
  y: 13%;

}


#hrField {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 53%;
  y: 10%;
  
}

.dad {
  font-family: Seville-Bold;
  font-size: 25;
  text-anchor: middle;
  text-length: 8; 
  fill: black;
}

.cycleview {
  font-family: Seville-Bold;
  font-size: 25;
  text-anchor: middle;
  x: 0;
  y: 50;
  text-length: 8;   
}

.hourmarker24tickS {
  x: 0%;
  y: -45%;
  width: 1;
  height: 4; 
}

.hourmarker24tickL {
  x: 0%;
  y: -45%;
  width: 2;
  height: 4; 
}

